 
@model System.Web.Mvc.HandleErrorInfo
 
<div class="list-header clearfix">
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        <h2>The resource you are looking for cannot be found.</h2>
    </div>    
    <h6>@Html.ActionLink("Go Back To Home Page", "Index", "Customer")</h6>
</div>